#!/usr/bin/python

class PyPasteConfig:
    """Configuration class for PyPaste"""

    # Configure all necessasry parameters
    def __init__(self):
        self.__port = 5000                        #Port
        self.__host = "127.0.0.1"                 #Host
        self.__debug = False                      #Enable debug mode. Do *not* enable it in production environments
        self.__maxPasteSize = 1024*1024           #Maximum paste size in bytes (1024B * 1024B = 1MB)
        self.__maxLifeTime = 60 * 24              #Maximum lifetime of a paste in minutes (60m * 24h = 1440m)
    
    # Getters
    def getPort(self):
        return self.__port

    def getHost(self):
        return self.__host

    def getDebug(self):
        return self.__debug

    def getMaxPasteSize(self):
        return self.__maxPasteSize

    def getMaxLifeTime(self):
        return self.__maxLifeTime